/*

    Rename this file to configuration.h and fill in the values below.

*/


#ifndef MCU_COURSE_PROJECT_CONFIGURATION_H
#define MCU_COURSE_PROJECT_CONFIGURATION_H


#define BAUD_RATE 9600

#define MQTT_HOST "YOUR MQTT HOST"
#define MQTT_PORT YOUR_MQTT_PORT
#define MQTT_TOPIC "YOUR MQTT TOPIC"
#define MQTT_TOPIC_QOS 0
#define MQTT_RECONNECT_TIMEOUT 5


#endif //MCU_COURSE_PROJECT_CONFIGURATION_H
